streamlit
spacy==3.8.10
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.10/en_core_web_sm-3.8.10-py3-none-any.whl
pandas
matplotlib
seaborn
scikit-learn
numpy
PyPDF2
python-docx